<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Agent Wizard of Oz</title>

        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="bulma.min.css">
        <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body class="margin m-6">
        <h1 class="title is-2">WoZ Controller</h1>
        <div id="app">
            <div class="columns">
                <div class="column is-half has-background-white-ter">
    
                    <h4 class="title is-4">Connection</h4>
                    <div>
                        <label class="label is-inline">Websocket server address</label>
                        <span class="tag is-success is-light is-rounded is-inline" v-if="connected">Connected</span>
                        <span class="tag is-danger is-light is-rounded is-inline" v-else>Not connected</span>
                        <input type="text" v-model="ws_address" class="input"/>
                        
                        <button @click="disconnect" v-if="connected" class="button is-danger is-small mt-3">Disconnect</button>
                        <button @click="connect" v-else class="button is-success is-small mt-3">Connect</button>
                    </div>
    
                    <!-- <p class="content is-small">Wrap in <speak> tags</p> -->
                </div>
                <div class="column is-half has-background-white-ter">
                    <h4 class="title is-4">Logs</h4>
                    <div style="max-height:100px; overflow:scroll;">
                        <p class="is-size-7" v-for="log in logs">{{ log }}</p>
                    </div>
                </div>
            </div>
            
            <div class="columns mt-4">
                <div class="column is-half has-background-white-ter">
    
                    <h4 class="title is-4">Custom speech</h4>
                    <div>
                        <label for="fspeech" class="label">Speech</label>
                        <textarea v-model="custom_speech" type="text" name="fspeech" rows="3" class="textarea" placeholder="Enter custom speech commands"></textarea>
                        <button @click="sendSpeech(custom_speech)" class="button is-link mt-3" :disabled="loading || !connected">Submit</button>
                    </div>
    
                    <!-- <p class="content is-small">Wrap in <speak> tags</p> -->
                </div>
                <div class="column is-half has-background-white-ter">
                    <h4 class="title is-4">Movements</h4>
                    <div class="buttons are-regular">
                        <button @click="sendEmotion(0)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Neutral 😐</button>
                        <button @click="sendEmotion(1)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Smile 😊</button>
                        <button @click="sendEmotion(2)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Concerned 😟</button>
                        <button @click="sendEmotion(3)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Surprised 😳</button>
                    </div>
                    
                    <h4 class="title is-4">Animations</h4>
                    <div class="buttons are-regular">
                        <button @click="sendMove(0)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Idle</button>
                        <button @click="sendMove(2)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Wave</button>
                        <button @click="sendMove(1)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Head nod</button>
                        <button @click="sendMove(3)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Head shake</button>
                        <button @click="sendMove(4)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Turn to robot</button>
                        <button @click="sendMove(5)" class="button is-outlined is-link is-rounded" :disabled="loading || !connected">Turn to human</button>
                    </div>
                </div>
            </div>
            
            <div class="columns mt-4">
                <div class="column is-full has-background-white-ter">
                    <h4 class="title is-4">Agent #1</h4>
                    <div class="buttons are-small">
                        <button @click="sendSpeech('Hi! I\'m Hayley. What\'s your name?')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Hi! I'm Hayley. What's your name?</button>
                        <button @click="sendSpeech('It\'s so nice to meet you Steph. I\'m super excited to work with you today. I hope the commute here wasn\'t too bad, the rain was so heavy earlier')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">It's so nice to meet you..</button>
                        <button @click="sendSpeech('Oh no! That\'s alright, I can lend you one from the office to use when you get back home')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Oh no! That's alright, I can lend you...</button>
                        <button @click="sendSpeech('I love comics! Bat-man is my all-time favourite. The complexity of his character is top notch')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">I love comics! Batman is my...</button>
                        <button @click="sendSpeech('Ahh okay, well does she like more uplifting or, dark and gruesome stories?')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Hmm, well, does she like...</button>
                        <button @click="sendSpeech('Then she might like Flashpoint Bat-man the Knight of Vengeance. It has the most brooding and haunting cliffhangers in any Batman comic')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Then she might like...</button>
                        <button @click="sendSpeech('Ok, shall we get started? The forecast tells me it is going to start raining in thirty minutes, so lets finish ASAP so you can get home dry')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">OK shall we get started?...</button>
                        <button @click="sendSpeech('OK. Whenever you\'re ready Steph, begin the task.')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">OK whenever you're ready Steph...</button>
                        <button @click="sendSpeech('Nice')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Nice</button>
                        <button @click="sendSpeech('Good job')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Good job</button>
                        <button @click="sendSpeech('Yep')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Yep</button>
                        <button @click="sendSpeech('I\'m afraid coffee cups can\'t be recycled. They have a plastic lining')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">I'm afraid coffee cups...</button>
                        <button @click="sendSpeech('Nice')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Nice</button>
                        <button @click="sendSpeech('Perfect')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Perfect</button>
                        <button @click="sendSpeech('Yep')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Yep</button>
                        <button @click="sendSpeech('Broken glass isn\'t accepted by recycling waste handlers')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Broken glass isn't accepted...</button>
                        <button @click="sendSpeech('Bravo')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Bravo</button>
                        <button @click="sendSpeech('Diapers have soft plastics, and soft plastics cannot be recycled')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">DIapers have soft plastics...</button>
                        <button @click="sendSpeech('That\'s right')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">That's right</button>
                        <button @click="sendSpeech('Awesome work Steph. Thank you')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Awesome work, thank you</button>
                    </div>
                </div>
            </div>

            <div class="columns mt-4">
                <div class="column is-full has-background-white-ter">
                    <h4 class="title is-4">Agent #2</h4>
                    <div class="buttons are-small">
                        <button @click="sendSpeech('Hi! I\'m Lisa. What\'s your name?')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Hi! I'm Lisa. What's your name?</button>
                        <button @click="sendSpeech('Nice to meet you. Shall we get started?')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Nice to meet you...</button>
                        <button @click="sendSpeech('OK. Whenever you\'re ready, begin the task.')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">OK, whenever you're ready, begin the tasl</button>
                        <button @click="sendSpeech('Nice')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Nice</button>
                        <button @click="sendSpeech('Good job')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Good job</button>
                        <button @click="sendSpeech('Yep')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Yep</button>
                        <button @click="sendSpeech('I\'m afraid coffee cups can\'t be recycled. They have a plastic lining')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">I'm afraid coffee cups...</button>
                        <button @click="sendSpeech('Nice')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Nice</button>
                        <button @click="sendSpeech('Perfect')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Perfect</button>
                        <button @click="sendSpeech('Yep')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Yep</button>
                        <button @click="sendSpeech('Broken glass isn\'t accepted by recycling waste handlers')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Broken glass isn't accepted...</button>
                        <button @click="sendSpeech('Bravo')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Bravo</button>
                        <button @click="sendSpeech('Diapers have soft plastics, and soft plastics cannot be recycled')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">DIapers have soft plastics...</button>
                        <button @click="sendSpeech('That\'s right')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">That's right</button>
                        <button @click="sendSpeech('Awesome work Steph. Thank you')" :disabled="loading || !connected" class="button is-outlined is-link is-rounded">Awesome work, thank you</button>
                    </div>
                </div>
            </div>
        </div> <!-- Close app -->
    
        <!-- Scripts to send commands to ROS -->
        <script type="text/javascript" src="main.js"></script>
    </body>
</html>